/*https://stackoverflow.com/questions/19414856/how-can-i-make-all-images-of-different-height-and-width-the-same-via-css*/
img {
    float: left;
    object-fit: cover;
    /* margin: 1px; */
}

#game{
    
    display:grid;
    padding-left:10%;
    padding-right:10%;
    margin:auto;
    gap: 1px;
    grid-template-columns: repeat(4, 180px);
    grid-template-rows: repeat(4, 180px);

}

h1{
    text-align: center;
    font-size: 60px;
}

/* #reset{
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

#reset{
    align-self: center;
    width: 180px;
}